<footer class="bg-blue">
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="contact text-gold">
					<ul class="list-unstyled">
						<li>Adresse : Artres, France (59)</li>
						<li>Telephonne : 0668220941</li>
						<li>Email : christophe.ludivine.laurent@gmail.com</li>
						<li>Réseaux sociaux:
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="logoBio text-center">
					<picture>
						<source srcset="images/elements/160/certification-bio-logo-100.webp" media="(max-width: 576px)" width="100" height="67">
						<img src="{{ asset ('images/elements/certification-bio-logo.jpg')}}" alt="logo certifcation bio les champignons de la Rhonelle" width="200" height="133">
					</picture>
				</div>
			</div>
			<div class="col-12">
				<div class="text-center text-gold">
				<a class="text-gold" href="{{ path('politique_confidentialite') }}">Politique de confidentialité </a> | <a href="{{ path('termes_utilisation') }}" class="text-gold"> Termes d'utilisation</a>
					<p>&copy; 2024 Les Champignons de la Rhonelle - Tous droits réservés</p>
				</div>
			</div>
		</div>
	</footer>