<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>

			p {
				color: #000 !important;
			}
			.email-container {

				background-color: #ffffff;
				margin: 20px auto;
				padding: 20px;
				border-radius: 8px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				max-width: 600px;
			}

			.email-header {
				text-align: center;
				padding-bottom: 20px;
			}

			.email-header img {
				width: 120px;
				height: auto;
			}

			.email-body {
				padding: 10px 20px;
				text-align: left;
			}

			.email-body h1 {
				color: #2c3e50;
			}

			.email-body p {
				line-height: 1.6;
			}

			.cta-button {
				display: inline-block;
				padding: 10px 20px;
				background-color: #14274E;
				color: #DDB65B !important;
				text-decoration: none;
				border-radius: 5px;
				font-weight: bold;
				margin-top: 20px;
			}

			.footer {
				text-align: center;
				padding: 20px;
				font-size: 12px;
				color: #999;
			}

			.social-icons {
				text-align: center;
				margin-top: 20px;
			}

			.social-icons img {
				width: 32px;
				height: 32px;
				margin: 0 10px;
			}

			/* Responsive design */
			@media(max-width: 600px) {
				.email-container {
					padding: 10px;
				}
				.cta-button {
					width: 80%;
					text-align: center;
					margin: auto;
				}
				.email-body {
					text-align: center;
				}
			}
		</style>
	</head>

	<body>
		<div class="email-container">
			<div class="email-header">
				<img src="https://i.ibb.co/Fq0RhLT/logo-100.png" alt="Logo Les Champignons de La Rhonelle"/>
			</div>

			<div class="email-body">
				<h1>Nouvelle recette ajoutée 🍽</h1>

				<p>
					Un utilisateur a ajouté une nouvelle recette sur le site. Voici les
					          détails :
				</p>

				<ul>
					<li>
						<strong>Titre :</strong>
						{{ title }}</li>
					<li>
						<strong>Description :</strong>
						{{ description }}</li>
					<li>
						<strong>Ajouté par :</strong>
						{{ profile_name }}</li>
					<!-- Ajoute d'autres détails si nécessaire -->
				</ul>

				<p>
					Merci de vérifier et de valider cette recette si nécessaire. Cliquez
					          sur le bouton ci-dessous pour accéder à l'administration :
				</p>

				<a href="{{ admin_recipe_url }}" class="cta-button">Voir la recette</a>
			</div>

			<div class="footer">
				<p>&copy; 2024 Les Champignons de La Rhonelle. Tous droits réservés.</p>
			</div>
		</div>
	</body>
</html>
