{# templates/recipe/user_confirmation_email.html.twig #}

<!DOCTYPE html>
<html>
    <body>
        <h1>Confirmation de l'ajout de votre recette</h1>
        <p>Bonjour {{ profile_name }},</p>
        <p>Merci d'avoir soumis votre recette sur Les Champignons de La Rhonelle.</p>
        <p>Votre recette intitulée <strong>{{ title }}</strong> a bien été ajoutée et est actuellement en attente de vérification par notre équipe d'administration.</p>
        <p>Vous recevrez une notification dès que votre recette sera publiée.</p>
        <p>Merci pour votre contribution et à bientôt sur Les Champignons de La Rhonelle !</p>
        <p>Cordialement,</p>
        <p>L'équipe de Les Champignons de La Rhonelle</p>
    </body>
</html>