{# templates/recipe/user_recipe_approved_email.html.twig #}

<!DOCTYPE html>
<html>
    <body>
        <h1>Votre recette est validée</h1>
        <p>Bonjour {{ profile_name }},</p>
        <p>Nous avons le plaisir de vous informer que votre recette intitulée <strong>{{ recipe.title }}</strong> a été validée par notre équipe d'administration et est maintenant disponible sur le site.</p>
        <p>Vous pouvez la consulter en cliquant <a href="{{ recipe_url }}">ici</a>.</p>
        <p>Merci pour votre contribution et à bientôt sur Les Champignons de La Rhonelle !</p>
        <p>Cordialement,</p>
        <p>L'équipe de Les Champignons de La Rhonelle</p>
    </body>
</html>