#mainImage, #mainImageShiitake{
    display: block;
    width: 82%;
    margin: 0 auto;
}
.nomesse {
    background-image: url('../images/gnomesse-min.webp');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 15%;
}
.nome {
    background-image: url('../images/gnome-min.webp');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 15%;
}